/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  background-color: #ececec !important;
}

h1 {
  font-family: Comfortaa;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Comfortaa;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Comfortaa;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
span {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
}

mat-label {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
  font-size: 1rem;
}

#mat-input-0 {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
  font-size: 1rem;
}

th,
td {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
}

.mat-paginator-container {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
}

mat-form-field {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
  font-size: 1rem;
}

input {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
  font-size: 1rem;
}

textarea#mat-input-1 {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
  font-size: 1rem;
}

::-webkit-input-placeholder {
  font-family: Comfortaa;
  font-style: normal;
  font-variant: normal;
  font-size: 1rem;
}
